.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  max-height: 50% !important;
  height: 70% !important;
  width: 60% !important;
}

.modal-team-title {
  padding-top: 20px;
  margin-left: 15px;
}

.modal-team-form {
  padding-left: 2%;
}

.modal-close-position {
  position: absolute !important;
  top: -50px !important;
  right: 0px !important;
  color: #fff !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 20px !important;
  font-weight: 400;
}

.toast-color {
  background-color: #ed143d !important;
}

#toast-container {
  top: 17% !important;
  /* right: auto !important;
  bottom: 10%;
  right:7%;   */
}
